.container{
  max-width: 1536px;
  margin: 0 auto;
  padding: 32px;
}
.modal {
  animation: modal 0.3s ease-in 0s backwards;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: scale(1);
  }
  to {
    opacity: 1;
    transform: scale(2);
  }
}

.category::-webkit-scrollbar{
  display: none;
}
@keyframes modal{
  to{
    opacity: 1;
    margin-top: 0;
    transform: translate(-50%, -50%) scale(.1);

  }
}.card{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px;
  place-items: center;
}
@media (max-width: 1280px) {
  .card{
    grid-template-columns: repeat(4, 1fr);
  }
  .navbar{
    gap: 40px;
  }
}
@media (max-width: 1130px) {
  .card{
    grid-template-columns: repeat(3, 1fr);
  }
  .navbar{
    display: none;
  }
}
@media (max-width: 920px) {
  .card{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 625px) {
  .card{
    grid-template-columns: 1fr;
  }
  .icon{
    display: none;
  }
}
.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  margin-bottom: 1rem;
  color: white;
  background-image: linear-gradient(to right, #22d3ee, #06b6d4, #0891b2);
  font-weight: 500;
  font-size: 0.875rem;
  text-align: center;
  cursor: pointer;
  transition: background-image 0.3s ease;
}

.btn:hover {
  background-image: linear-gradient(to bottom right, #22d3ee, #06b6d4, #0891b2);
}

.btn:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(6, 182, 212, 0.5);
}

@media (prefers-color-scheme: dark) {
  .btn:focus {
      box-shadow: 0 0 0 4px rgba(6, 182, 212, 0.8);
  }
}
.swiper-pagination-bullet {
  background-color: black;
}
.swiper-pagination {
  display: flex !important;
  justify-content: end !important;
  position: absolute;
}

.swiper {
  position: relative;
}

@media (max-width: 780px) {
  .swiper-pagination {
    justify-content: center !important;
  }
}
.brendSwiper{
  display: none;
}
@media(max-width:640px){
  .brendSwiper{
display: flex;
margin-bottom: 70px;
  }
  .swiper-slide{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
}